@import url('https://fonts.google.com/specimen/Spartan');

.job-list{
    margin: .5em;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 6em;
}

.ul-joblist{
    margin:0;
    padding: 0;
    width: 65%;
    background-color: transparent;
}

@media only screen and (max-width: 500px) {


    .job-list{
        margin: 0;
        padding-bottom: 2em;
    }

    .ul-joblist{
        width: 83%;
        margin: 2em 0 0 0;
    }
    .joblistExtraMargin{
        margin-top: 7em;
    }

    .expand-margin-for-joblist{
        margin-top: 8em;
    }
}