@import url('https://fonts.google.com/specimen/Spartan');



.jobtag{
    margin: 0;
    padding: 0;
    width: 65%;
    height: 47px;
    background-color: hsl(188, 100%, 100%);
    border-radius: .15em;
    box-shadow: 7px 3px 9px 0 hsl(180, 52%, 84%);
    position: absolute;
    top:-4em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2em;
    font-family: 'Spartan';
}

.tag:nth-child(1) {
    margin-left: 1.71433em;
}


.tag{
    background-color: hsl(180, 52%, 96%);
    font-weight: bold;
    font-size: 0.7em;
    color:hsl(180, 29%, 50%);
    padding: .57em;
    position: relative;

    pointer-events: none;
}



.tag::after{
    padding: .146em 0.3em .146em 0.3em;

    cursor: pointer;
    content: '\2715';
    position: absolute;
    background-color: hsl(180, 29%, 50%);

    left: 100%;

    transform: translateY(-0.42em);
    font-weight: bold;
    font-size:1.4em;
    font-family: 'Spartan';
    border-top-right-radius: .15em;
    border-bottom-right-radius: .15em;
    color: white;

    pointer-events: all;
}



.tag:hover::after{
    padding: .146em 0.3em .146em 0.3em;
    cursor: pointer;
    content: '\2715';
    position: absolute;

    background-color: #272727;
    left: 100%;

    transform: translateY(-0.42em);
    font-weight: bold;
    font-size:1.4em;
    font-family: 'Spartan';
    border-top-right-radius: .15em;
    border-bottom-right-radius: .15em;
    color: white;

    pointer-events: all;
}

.clearbtn{
    border: none;
    background-color: initial ;
    font-weight: bold;
    font-size:.9em;
    color:  hsl(180, 3%, 63%);
    font-family: 'Spartan';
    position: absolute;
    right:2%;
    top:35%;

}

.clearbtn:hover{
    text-decoration: underline;
    cursor: pointer;
}
@media (max-width: 500px) {



    .jobtag{
        margin: 0 0 2em 0;
        padding-top: 1.3em;
        padding-left: 1em;
        padding-bottom: 0;
        width: 83%;
        height: 8.5em;
        top:-5em;
        align-items: flex-start;
        flex-wrap: wrap;
        align-self: initial;
        row-gap: 0;
        column-gap: 3em;
    }

    .tag:nth-child(1) {
        margin-left: 0em;
    }


    .tag{

        font-weight: bolder;
        font-size: 1em;

    }



    .tag::after{
        padding: .146em 0.3em .146em 0.3em;

    }





    .clearbtn{
        font-size:1em;
        right:7.2%;
        top:47%;
        text-decoration: none;
    }
    .clearbtn:hover{
        text-decoration: none;
    }
}