
html, .index{
    box-sizing: border-box;
    margin:0;
    width: 1440px;
    height: 100%;
    background-color: hsl(180, 52%, 96%);
}

@media (max-width: 376px) {
    html {
        width: 375px !important;

    }
    .index{
        width: 375px;
    }

}
