@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');

.job-featured{
    margin:0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: .75em;
    font-family: 'Spartan';
    background-color: transparent;
}
.company{
    font-weight: bold;
    font-size: 1em;
    color:hsl(180, 29%, 50%);
    background-color: transparent;
}
.new{
    background-color:hsl(180, 29%, 50%) ;
    width: 7%;
}
.featured{
    background-color: hsl(36, 6%, 0%);
    width: 13%;

}
.new, .featured{
    font-weight: bold;
    font-size: .75em;
    margin-left: 1em;
    padding-top: .55em;
    color: hsl(175, 55%, 92%);
    border-radius: 2em;
    height: 18px;
    text-align: center;
}

@media (max-width: 500px) {


    .company{
        font-weight: bolder;
    }

    .new{

        width: 14%;
    }
    .featured{

        width: 22%;

    }
    .new, .featured{

        font-size: .8em;

        padding-top: .7em;
        padding-bottom: .55em;

        border-radius: 2em;
        height: 22px;
        text-align: center;
    }

}