.jobtags{

    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 1.5em 0 0;
    gap: .75em;
    font-family: 'Spartan';
    align-self: stretch;
    background-color: transparent;
}

.tag{
    background-color: hsl(180, 52%, 96%);
    font-weight: bold;
    font-size: 0.7em;
    color:hsl(180, 29%, 50%);
    padding: .8em .5em .5em .5em;
    text-decoration: none;

}
.tag:hover{
    background-color: hsl(180, 29%, 50%);
    color: hsl(180, 52%, 96%);
    cursor: pointer;

}

@media (max-width: 500px) {



    .jobtags{
        margin: 0.9em 0 0 0;
        padding: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        align-self: initial;
        row-gap: 0;
        column-gap: 1em;
    }




    .tag{
        background-color: hsl(180, 52%, 96%);
        font-weight: bold;
        font-size: 1em;
        color:hsl(180, 29%, 50%);
        padding: .8em .3em .3em .3em;
        text-decoration: none;
        margin-right: .2em;
        border-radius: .24em;
    }
    .tag:hover{
        background-color: hsl(180, 29%, 50%);
        color: hsl(180, 52%, 96%);
        cursor: pointer;

    }

}