.app {
  width: inherit;
  height: inherit;
  margin: inherit;
  font-size: 15px;
}

.app-contianer{
  margin:0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, min-content);
  gap: 2em;
  align-items: center;
}

@media (max-width: 376px) {

  .app{
    width: 375px !important;
    margin: 0;
    font-size: 15px;
  }

}


